*{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: --webkit-fill-available;
    
    
}

header{
    display: flex;
    background:  #2d2d2d;;
    height: 5rem;
}

.leftNav{
    text-align: center;
    margin-top: 1rem;
    margin-left: 4rem;
    color: #ffffff;
    font-size: 1.0rem;
}

.rightNav{
    display: inline;
    text-align: right;
    color: #ffffff;
    margin-top: 1rem;
    font-size: small;
    margin-right: 3rem;
}

  a:hover{
    
    color: #ffffff;
    text-decoration: none;
    transition: 0.1s;
    font-size: 1rem;
}
li a:link{
    color: #ffffff;
    text-decoration: none;
}
li a:visited{
    color: #ffffff;
    text-decoration: none;
}

li{
    list-style: none;
    display: inline;
    margin-top: 1rem;
    margin-right: 3rem;
    padding: 1rem;
}
.checkbtn{
    display: none;
}
#check{
    display: none;
}

.mainSection{
    display: flex;
    flex-direction: row;
    height: scroll;
}

.leftMain{
    padding-top: 7rem;
    padding-left: 3rem;
    width: 50%;
    height: auto;
    background-color: #000000;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    
    
}
.line
{
    margin-top: 3rem;
    width: 100%;
    height: 0.1rem;
    background: white;
    border-radius: 1.3rem;
    border: 1rem whitesmoke;
    
}

.text{
    display: flex;
}


.lorem{
    color: whitesmoke;
    font-size: 0.8rem;
    width: 80%;
    text-align: justify;
    margin-top: 5rem;
    margin-right: auto;
}

.explore{
    margin-top: 3rem;
    width: 20%;
    background: white;
    color: #000000;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 15px;
}

.explore a:link{
    color: black;
    text-decoration: none;
}

.explore a:visited{
    color: black;
    text-decoration: none;
    
}
.explore a:hover{
    color: black;
    text-decoration: underline;
  
}

.rightMain{
    width: 60%;
    display: flex;
    
}




/* About Section */


.aboutSection{
    
    height: 500px;
    width: 100%;
    background-color: #2d2d2d;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 3rem;
    font-weight: 00;
    padding-top: 7rem;
    
}

.about_{
    padding-left: 5rem;
}

.line1
{
    
    margin-top: -3.5rem;
    margin-left: 28rem;
    width: 50%;
    height: 0.1rem;
    background: white;
    border-radius: 1.3rem;
    border: 1rem whitesmoke;
    
}

.aboutText {
    width: fit-content;
    padding-top: 5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    font-weight: 300;
    font-size: 1rem;

}

.aboutText p{
    padding: auto;
    margin: auto;
}



 /* Contact View */

#contact{
    width: 100%;
    height: 1000px;
    background: #000000;
    color: #ffffff;
}
.contactSection{
    width: 80%;
    align-content: center;
    align-items: center;
}
.contactText{
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-right: 4rem;
    padding-top: 5rem;
    text-align: right;
}

.line2{
    margin-left: 4rem;
    padding-left: 4rem;
    
    display: flex;
    float: left;
    border: 0.1rem solid white;
    width: 50%;
    background-color: #ffffff;
}

form{
    background-color: #000000;
    width: 100%;
    padding-left: 8rem;
    padding-top: 5rem;
    padding-right: 8rem;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}


input{
    
    width: 40%;
    height: 2rem;
    background-color: #ffffff;
    font-size: 1rem;
    padding-left: 1rem;
    font-family: 'Courier New', Courier, monospace;
    border: #000000;
    border-radius: 0.9rem;
    text-align: start;
}
.divName label{
    padding-left: 1rem;
    font-size: 1.5rem;
}

.divEmail{
    margin-top: 2rem;
}

.divEmail label{
    padding-left: 1rem;
    font-size: 1.5rem;
    
}

.divph{
    margin-top: 2rem;
}

.divph label{
    padding-left: 1rem;
    font-size: 1.5rem;
}

.divMessag{
    margin-top: 2rem;
}

.divMessag label{
    height: 5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.divMessag #message{
    height: 6rem;
}

/* Responsive Functionality */


@media screen and (max-width:480px){
        
    *{
        
        width: 100%;
        height: --webkit-fill-available;
        padding: 0;
        border: 0;
       
        
    }

    header{
        width: 100%;
    }

    main{
        
        width: 100%;
        height: fit-content;
    }

    .mainSection{
        width: 100%;
        display: flex;
        height: fit-content;
    }

    .leftMain{
        font-size: 20px;
        
    }

    .leftMain .lorem{
        font-size: 10px;
    }


    
    .explore{
        margin-top: 1rem;
        width: 20%;
        background: white;
        color: #000000;
        font-size: 0.4rem;
        padding: 1rem;
        border-radius: 15px;
    }
    
    .explore a:link{
        color: black;
        text-decoration: none;
        font-size: 0.4rem;
    }
    
    .explore a:visited{
        color: black;
        text-decoration: none;
        font-size: 0.4rem;
    }
    .explore a:hover{
        color: black;
        text-decoration: underline;
        font-size: 0.4rem;
    }
    
    .aboutSection{
    
        height: scroll;
        width: 100%;
        background-color: #2d2d2d;
        color: #ffffff;
        font-family:Georgia, 'Times New Roman', Times, sans-serif;
        font-size: 3rem;
        font-weight: 00;
        padding-top: 7rem;
        
    }
    
    .about_{
        padding-left: 5rem;
    }
    
    .line1
    {
        
        margin-top: -3.5rem;
        margin-left: 15rem;
        width: 50%;
        height: 0.1rem;
        background: white;
        border-radius: 1.3rem;
        border: 1rem whitesmoke;
        
    }
    
    .aboutText {
        align-content: first baseline;
        width: fit-content;
        padding-top: 5rem;
        padding-left: 7rem;
        padding-right: 7rem;
        font-weight: 300;
        font-size: 0.8rem;
    
    }


    /* navigation portion */
    
    
    header{
        width: 100%;
        min-width: 100%;
    }
    .leftNav{
        width: 60%;
        display: flex;
    }
    .rightNav  {
        width: 40%;
        display: flex;
        
    }

    nav li{
        width: 100%;
        display: none;
    }
    .checkbtn{
        display: flex;
        color: #ffffff;
        background:#2d2d2d;
        
        
    }
    #check{
        display: block;
    }
    
    .checkbtn{
        width: 3%;
        height: 3%;
        transform: rotate(0deg);
        float: right;
    }

    .checkbtn::before{
        transform: rotate(0deg);
    }

    .checkbtn:hover{
        transform: rotate(90deg);
        transition: 0.5s;
        color: bisque;
        padding-top: 4rem;
    }
    

   

}